@section Scripts
{
    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?branch=experimental&callback=loadMapScenario' async defer></script>
}
<div ng-app="app">
    <div id="controller" ng-controller="PropertyController" ng-model="currentProperty">
        <style>
            .togglebutton label input[type=checkbox]:checked + .toggle:after {
                background-color: darkorange;
            }

            .togglebutton label input[type=checkbox]:checked + .toggle {
                background-color: orange;
            }
        </style>
        <fieldset>
            <div class="col-md-9">
                <div id='bingMap' style="position:relative;height:500px;"></div>
            </div>
            <div class="col-md-3">
                Property
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2 control-label" style="text-align:left;">Address</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="currentProperty.address" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" style="text-align:left;">Price</label>
                        <div class="col-md-4">
                            <input type="text" ng-model="currentProperty.price" class="form-control" />
                        </div>
                        <label class="col-md-2 control-label" style="text-align:left;">Area</label>
                        <div class="col-md-4">
                            <input type="text" ng-model="currentProperty.area" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" style="text-align:left;">Zipcode</label>
                        <div class="col-md-3">
                            <input type="text" ng-model="currentProperty.zipcode" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Bathrooms</label>
                        <div class="col-md-2">
                            <select ng-model="currentProperty.bathrooms" class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <label class="col-md-3 control-label">Bedrooms</label>
                        <div class="col-md-2">
                            <select ng-model="currentProperty.bedrooms" class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="togglebutton col-md-4">
                            <label>
                                Furnished
                                <input type="checkbox" ng-model="currentProperty.furnished" />
                            </label>
                        </div>
                        <div class="togglebutton col-md-3">
                            <label>
                                Pets
                                <input type="checkbox" ng-model="currentProperty.pets" />
                            </label>
                        </div>
                        <div class="togglebutton col-md-4">
                            <label>
                                Smoking
                                <input type="checkbox" ng-model="currentProperty.smoking" />
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn" ng-click="AddProperty()" style="background:orange;color:white;">Add Marker</button>
                    </div>
                </form>
            </div>
        </fieldset>
    </div>
</div>
